/* Reset e estilos globais */
* {
  margin: 0;
  padding: 2px;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Utilitários */
.flex-1 {
  flex: 1;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}
